<h2>單字學習</h2>
<p>
此功能開放給本網站的付費學習費員，請新增您想要記憶的英文單字、詞性與中文翻譯。<br>
(每一次需新增 20 組單字) <br>
您可以使用本區來練習您所新增的單字。<br>
</p>
<p>您目前完成的內容如下</p>
<!--
<p>如要新增單字群組，請按 <%= link_to "新增單字(英文+中文)", self_learning_new_path, :class => "btn" %></p>
<p>如要查詢所新增的內容，請點選 <%= link_to "查詢內容", "#", :class => "btn" %></p>
<p>如要測驗對某單元的熟練度，請點選 <%= link_to "測驗", "#", :class => "btn" %></p>
-->
<h3 class="text-center">所有新增的英文單字</h3>
<table class="table table-striped">
  <tr class="">
    <th class="">日期</th>
    <th class="span2">建檔編號</th>
    <th class="span2">查詢內容</th>
    <th class="span2">測驗</th>
    <th class="span1">修改</th>
    <th class="span1">刪除</th>
  </tr>
  <% @self_learnings.each do |lrn| %>
  <tr>
    <td><%= l lrn.created_at.localtime %></td>
    <td><%= lrn.serial %></td>
    <td><%= link_to "查詢內容", self_learning_path(lrn.grouping_id), :class => 'btn btn-small' %></td>
    <td><%= link_to "測驗", self_learning_exam_path(lrn.grouping_id), :class => 'btn btn-small btn-inverse' %></td>
    <td><%= link_to "修改", self_learning_edit_path(lrn.grouping_id), :class => 'edit warning' %></td>
    <td><%= link_to "刪除", self_learning_path(lrn.grouping_id), :method => 'delete', :class => ' delete danger', :data => {:confirm => '確定要刪除此記錄嗎？', :disable_with => '...'} %></td>
  </tr>
  <% end %>
</table>
<%= link_to self_learning_new_path, :class => "btn pull-right" do %>
<i class="icon-plus"></i>
新增單字(英文+中文)
<% end %>