<%- title "首頁" %>
<% if !@mfg.blank? %>
<div class="hero-unit">
  <%= @mfg.html_safe %>
</div>
<% end %>

<% @news.each do  |news| %>
<div class="page-header">
  <h3 class="pull-left"><%= news.title %></h3>
  <h3 class="pull-right"><small><%= news.created_at.localtime.to_date %></small></h3>
  <div class="clear" style="clear:both;"></div>
</div>
<p>
  <%= news.content.html_safe %>
</p>
<p class="text-right text-info"><%= news.admin.try(:fullname) %></p>

<% end %>
<h2 id="courses">熱門課程</h2>
<%= render :partial => "/courses/table" %>

