<script src="/javascripts/audio-player.js"></script>
<div id="audio_player" style="display:none">Loading the player...</div>

<div class="page-header">
  <h1>第 <%= @day %> 天的進度 <small>
    測驗<%= (@phase + 1).to_chinese %> 結果</small>
  </h1>
</div>
<h3>正確率：<span class="score"><%= @score %> % </span> </h3>
<p class="alert alert-info">
  下列紅字部分為錯誤的答案
</p>
<%= render "show_answer_button" %>
<ol>
  <% i = 0 %>
  <% @study_records.each do |record| %>
  <% i = i + 1 %>
  <li>
    <dl class="course_item course_item_<%= i %>">
      <dt class="<%= record.wrong? ? 'wrong-answer' : 'correct-answer' %>">
        <%= record.content %>
      </dt>
      <dt class="answer" style="display:none">
        <%= record.course_item.question %>
      </dt>
      <dd data-audio-url="<%= record.course_item.file_path %>">
        <%= record.course_item.answer %>
      </dd>
    </dl>
  </li>
  <% end %>
</ol>

<%= render "links" %>
<%= render "show_answer_button" %>

<script>
$(document).ready(function(){
  $('.show-answer').click(function(ev){
    $('dt.answer').toggle();
  });
});
</script>