<link rel="stylesheet" href="/assets/study.css">
<script src="/javascripts/audio-player.js"></script>
<div class="page-header">
  <h1>第 <%= @day %> 天的進度 <small><%= @type == 'exam' ? '測驗' : '練習' %><%= (@phase + 1).to_chinese %></small></h1>
</div>

<p class="alert alert-info">
  請依照中文意思，填寫英文內容
</p>


<%= form_tag(controller: "studies", action: @action_target, day: @day, phase: @phase) do %>
<ol>
  <% i = 0 %>
  <% @course_items.each do |item| %>
  <% i = i + 1 %>
  <li>
    <dl class="course_item course_item_<%= i %>">
      <dt><input type="text" class="span10" autocomplete="off" value="" placeholder="Input..." name="course_items[<%= item.id %>]"></dt>
      <dd data-audio-url="<%= item.file_path %>"><%= item.answer %></dd>
    </dl>
  </li>
  <% end %>
</ol>
<%= render "links" %>
<%= render "submit_button" %>
<% end %>