<dl class="dl-horizontal">
  <dt><%= t('姓名') %></dt>
  <% unless current_user.nil? %>
  <dd><%= current_user.fullname %></dd>
  <% else %>
  <dd>尚未登入</dd>
  <% end %>
  <dt><%= t('會員編號') %></dt>
  <% unless current_user.nil? %>
  <dd><%= current_user.serial_id %></dd>
  <% else %>
  <dd>尚未登入</dd>
  <% end %>
</dl>
<hr>
<div>
<table class="table table-striped">
  <tr>
    <th><%= t('課程分類') %></th>
    <th><%= t('課程名稱') %></th>
    <th><%= t('單元數') %></th>
    <th><%= t('課程編號') %></th>
    <th><%= t('上課時間長度') %></th>
    <th><%= t('售價') %></th>
    <th></th>
  </tr>
  <%
  total_price = 0
  @carts.each do |cart|
    %>
    <tr>
      <td><%= cart.course.category.title %></td>
      <td><%= cart.course.title %></td>
      <td><%= cart.course.unit %></td>
      <td><%= cart.course.serial %></td>
      <td><%= cart.course.duration_days %> <%= t('天') %></td>
      <td><%= number_to_currency(cart.course.price, :precision => 0, :locale => :zh_tw) %></td>
      <td>
        <%= link_to delete_cart_path(cart), :title => '刪除', :class => 'btn btn-mini btn-danger', :data => {:method => 'delete'} do %>
          <i class="icon-trash"></i> 刪除
          <% end %>
      </td>
    </tr>
    <%
    total_price += cart.course.price
  end
  %>
  <tr>
    <td colspan="4"><%= t('購物單金額') %></td>
    <td><%= t('小計') %></td>
    <td><%= number_to_currency(total_price, :precision => 0, :locale => :zh_tw) %></td>
    <td></td>
  </tr>
</table>
<div class="clearfix"></div>
<%= link_to "送出訂單", new_user_order_path(@carts.first.order_number), :class => "btn btn-primary pull-right clearfix", :data => {:method => "post", :disable_with => "..."} %>
<div class="clearfix"></div>

</div>
<hr class="clearfix">
<div class="alert clearfix" style="overflow:auto">
  <%= @config[:pay_instruction].html_safe %>
</div>
