<p id="notice"><%= notice %></p>
<h3><%= @admin_course.title %></h3>
<h4><%= @admin_course.category.title %></h4>
<h4><%= @admin_course.unit %></h4>
<h4>$ <%= @admin_course.price %></h4>
<p >
  <%= @admin_course.description.html_safe %>
</p>
<%= link_to 'Edit', edit_admin_course_path(@admin_course) %> |
<%= link_to 'Back', admin_courses_path %>
